body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #fafafa;
}

nav ul li {
    font-family: Arial;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 10px;
}

nav ul li a {
    margin-top: -8px;
    font-family: Arial;
    font-size: 16px;
    float: left;
    position: relative;
}

nav ul li a img {
	width: 30px;
	height: 30px;
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}

nav ul li ul {
	display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 50px;
    padding: 0px;
}

nav ul li ul li a {
    margin-top: 10px;
    padding-left: 0px;
}

.content {
    margin-top: -40px;
}
.col-sm-2 {
    box-shadow: 2px 2px 5px #ccc;
    background-color: #fff;
}
.col-sm-2 ul li {
    list-style: none;
    margin-left: -30px;
    padding-top: 10px;
}

.col-sm-2 ul li a {
    color: #333;
    margin-top: 10px;
}

.title input {
	height: 30px;
    margin-bottom: 20px;
}

.title select {
	height: 30px;
    margin-bottom: 20px;
}

.summary p {
	height: 100px;
	margin: 20px 0px;
}

.summary {
    margin-bottom: 20px;
    height: 30px;
}

.content textarea {
	height: 300px;
}

.content {
	padding-top: 50px;
}

.bottom {
  margin-top: 20px;
}

.bottom button {
  margin-top: 20px;
  margin-right: 10px;
}

table tbody tr td img {
    width: 40px;
    height: 40px;
}

tbody tr td input {
    padding-left: 10px;
    width: 567px;
    float: right;
    margin-top: 10px;
    height: 30px;
}

tbody tr td button {
    width: 65px;
    margin-top: 5px;
}