body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #fafafa;
}

.gr {
    margin-left: 10px;
}

.login {
	background-color: #fff;
	margin: 70px auto;
	width: 40%;
	height: 100%;
}

.login .main {
	border-top: 1px solid #dae2ea;
	padding-top: 20px;
    padding-left: 50px;
}

form {
	text-align: center;
	border: 1px solid #dae2ea;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: 40px 3px;
}

h2 {
	text-align: center;
}

.form-group .name {
	margin-left: 20px;
	width: 30px;
    float: left;
}

.form-group .put input {
	margin-left: 60px;
    padding-left: 10px;
    float: left;
    width: 60%;
}

.form-group .put .btn {
	margin-left: 50px;
}

.err {
	color: red;
	font-size: 11px;
	padding-bottom: 15px;
	margin-left: 50px;
}

.form-group .error {
	color: red;
	font-size: 11px;
	margin-left: 65px;
}

.app {
	margin-bottom: 20px;
}