body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  color: black;
}

.wrapper {
	width: 100%;
	margin: 0px auto;
}

header {
	width: 100%;
	background-color: #fff;
	margin: 0px auto;
	border-bottom: 1px solid #dae2ea;
}

header .navbar-default {
	border: 0px;
    width: 1170px;
    margin: 0px auto;
    background-color: #fff;
}

header .navbar-default .navbar-header {
	width: 35%;
}

header .navbar-default .navbar-header a {
	font-family: Lucida Console;
	font-size: 40px;
	color: #199;
}

header .navbar-default .navbar-header input {
	margin-top: 10px;
	padding-left: 10px;
	font-size: 14px;
}

header .navbar-default .navbar-header .btn-default {
	border: 0px;
    margin: 7px -10px 10px -20px;
    padding: 0px;
}

header .navbar-default .navbar-collapse {
	width: 65%;
	float: right;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #199;
}

header .navbar-default nav span {
	display: none;
	color: #443434;
}

header .navbar-default nav button {
	margin-top: -7px;
}

header .navbar-default nav button:hover {
	background: #c7c2c1;
	border: 1px solid #c7c2c1;
}