body {
  font-family: Georgia, Lucida Console;
  font-size: 16px;
  background-color: #fafafa;
}

/*Header*/
.navbar-default {
  background-color: #fff;
}

.navbar-header {
  width: 300px;
  float: left;
}

.logo {
  font-family: Lucida Console;
  font-size: 32px;
}

.input-group {
  width: 150px;
  padding-top: 10px;
}

.input-group span {
  width: 30px;
  margin: 0px -10px 0px -25px;
  color: gray;
}

.input-group span a {
  text-decoration: none;
}

.input-group input {
  width: 200px;
  padding-left: 10px;
  height: 28px;
}

.collapse ul li {
  font-family: Georgia;
  font-size: 16px;
  margin-left: 30px;
}

.collapse ul li button {
  margin-top: -8px;
  font-family: Georgia;
  font-size: 16px;
}
